footer {
  background-color: aqua;
}

.footer {
  background-color: gray;
}

.wrapper {
  background-color: red;
}

.contact {
  background-color: yellow;
}

.icon {
  background-color: yellow;
}

.inc {
  font-size: 20px;
}